.Fab {
    margin: auto;
}

.Fab:hover::after {
    content: attr(data-title);
    /* Выводим текст */
    height: 0px;
    width: 0px;
    /*position: absolute; /* Абсолютное позиционирование */
    left: 1em;
    top: 1em;
    /* Положение подсказки */
    z-index: 1;
    /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 230, 0.9);
    /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif;
    /* Гарнитура шрифта */
    font-size: 11px;
    /* Размер текста подсказки */
    /*padding: 5px 10px; /* Поля */
    /*border: 1px solid #333; /* Параметры рамки */
    display: flex;
}

.A1 {
    width: 100px;
    height: 100px;
    background-image: url(https://wiki.factorio.com/images/Assembling_machines_on_sand.png);
    background-position: 5% 50%;
    background-size: 330%;
    display: flex;
    /*inline-flex;*/
}
.A2 {
    width: 100px;
    height: 100px;
    background-image: url(https://wiki.factorio.com/images/Assembling_machines_on_sand.png);
    background-position: 50% 50%;
    background-size: 330%;
    display: flex;
}

.A3 {
    width: 100px;
    height: 100px;
    background-image: url(https://wiki.factorio.com/images/Assembling_machines_on_sand.png);
    background-position: 95% 50%;
    background-size: 330%;
    display: flex;
}
.P1{
	width: 100px;
	height: 100px;
	background-image: url(pumpjack.png);
	/*background-position: 5% 50%;*/
	background-size: 100%;
	display: flex;

}
.W1{
	width: 100px;
	height: 100px;
	background-image: url(offshore-pump1.png);
	/*background-position: 5% 50%;*/
	background-size: 150%;
	display: flex;

}
.O1{
	width: 100px;
	height: 100px;
	background-image: url(oil-refinery.png);
	/*background-position: 5% 50%;*/
	background-size: 500%;
	display: flex;

}
.CP1{
	width: 100px;
	height: 100px;
	background-image: url(chemical-plant.png);
	/*background-position: 5% 50%;*/
	background-size: 440%;
	display: flex;
}
.F1 {
    width: 100px;
    height: 100px;
    background-image: url(stone-furnace.png);
    /*background-position: 5% 50%;*/
    background-size: 125%;
    display: flex;
}
.F2 {
    width: 100px;
    height: 100px;
    background-image: url(steel-furnace.png);
    /*background-position: 5% 50%;*/
    background-size: 100%;
    display: flex;
}
.F3 {
    width: 100px;
    height: 100px;
    background-image: url(electric-furnace-base.png);
    /*background-position: 5% 50%;*/
    background-size: 125%;
    background-repeat: no-repeat;
    display: flex;
}
.E1 {
    width: 100px;
    height: 100px;
    background-image: url(electric-mining.png);
    /*background-position: 5% 50%;*/
    background-size: 85%;
    background-repeat: no-repeat;
    display: flex;
}
.L1 {
    width: 100px;
    height: 100px;
    background-image: url(lab.png);
    /*background-position: 5% 50%;*/
    background-size: 85%;
    background-repeat: no-repeat;
    display: flex;
}

.nodeF {
	/*width: 11%;*/
    order: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
	margin-top: 30px;
}

.childrenF {
	display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
	width: 100%;
}



.countF {
    position: relative;
    height: 1.2em;
    bottom: -90px;
    right: 10px;
    min-width: 1.8em;
    line-height: 15px;
    padding: 4px 4px;
    background: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    box-shadow: inset 0 1px 1px 0 #536d72;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: none;
}

.countF span {
    /*color: white;*/
}

.materialF {
    display: block;
    height: 30px;
    width: 30px;
    left: -30px;
    top: 25px;
    position: relative;

}

.materialF img {
    margin: 11%;
    background-color: rgb(162, 162, 162);
    border-radius: 24px;
    border: 5px solid black;
}

.outF {
    position: relative;
    height: 1.2em;
    top: -10px;
    /*left: 10px;*/
    min-width: 1.8em;
    line-height: 15px;
    padding: 4px 4px;
    background: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    box-shadow: inset 0 1px 1px 0 #536d72;
    border-radius: 12px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    text-shadow: none;
}
